@page "/campeon/{parametro}"
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@if (campeon != null)
{
	<h1 class="mostrarDerecha">@campeon.Nombre</h1>
	<h2 class="mostrarDerecha">@campeon.Apodo</h2>

	<div class="gridContainer">

		<img class="imagenPrincipal mostrarDerecha" src="@campeon.ImagenSkin[0]">

		
			<div class="imagenRolDificultad">
			<p class="roll mostrarDerecha"><span class="whiteText">ROLL:</span><br>@campeon.Rol</p>
			<p class="dificultad mostrarDerecha"><span class="whiteText">DIFICULTAD:</span><br>@campeon.Dificultad</p>
			<p class="descripcion mostrarDerecha">@campeon.Descripcion</p>
			</div>
		

		<div class="habilidades">

			<div class="iconosHabilidades">
				@for (int i = 0; i < campeon.ImagenHabilidad.Count; i++)
				{
					int numero = i;
					<button class="botonImagenHabilidad animacion" @onclick="() => DameNum(numero,campeon.VideoHabilidad[habilidad])"><img class="imagenHabilidad" src="@campeon.ImagenHabilidad[i]"></button>

				}

			</div>

			<div class="infoHabilidades animacion">
				<p class="nombreHabilidad">@campeon.NombreHabilidad[habilidad]</p>
				<p class="tipoHabilidad">@campeon.TipoHabilidad[habilidad]</p>
				<p>@campeon.DescripcionHabilidad[habilidad]</p>
			</div>


		</div>


		<video style="background-image:url('./Recursos/poros/@fondoVideo')" class="video animacion" autoplay loop>
			<source class="srcVideo" src="@campeon.VideoHabilidad[habilidad]">
		</video>


	</div>


	<div class="skinGridContainer">
		@for (int i = 0; i < campeon.IconoSkin.Count; i++)
		{
			int numerito = i;
			<button class="botonesIconosSkins animacion" @onclick="() => DameNumSkin(numerito)"><img class="iconosSkins" src="@campeon.IconoSkin[i]"></button>
		}
	</div>

	<h1 class="animacion">@campeon.NombreSkin[skin]</h1>
	<img class="imagenSkin animacion" src="@campeon.ImagenSkin[skin]">
}
else
{
	<div id="app">
		<svg class="loading-progress">
			<circle r="40%" cx="50%" cy="50%" />
			<circle r="40%" cx="50%" cy="50%" />
		</svg>
	</div>
}




