@page "/ranking"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager


<PageTitle>Ranking</PageTitle>
<div id="rollYcaracteristica">
	<div class="roll">
		<p>ROLL</p>
		<select @bind="@opcionSeleccionada">
			@foreach (var item in opciones)
			{
				<option>@item</option>
			}
		</select>
	</div>

	<div class="caracteristica">
		<p>CARACTERISTICA</p>
		<select @bind="@statSeleccionada">
			@foreach (var item in stats)
			{
				<option>@item</option>
			}
		</select>
	</div>
</div>
<button id="btnGrafico" @onclick="Filtrar">ELEGIR RANKING</button>


@if (filtradosValor != null)
{
	@if (opcionSeleccionada != "" && statSeleccionada != "" && botonPulsado)
	{
		<div class="container">
			@for (int i = 0; i < filtradosValor[0].Count; i++)
			{
				int alturaMax = filtradosValor[0][0];
				<div class="bar" style="height:@((int)(((double)filtradosValor[0][i] / (double)alturaMax)*100))%;"> @(i + 1)º<br>@filtradosValor[0][i] </div>
			}
		</div>
		@for (int i = 0; i < filtradosValor[0].Count; i++)
		{
			int aux = i;
			<button class="imagenesYtexto" @onclick="() => NavegaACampeon(filtrados[0][aux].Nombre)">
				<img class="imagenes" src="@filtrados[0][i].ImagenPrincipal" />
				<div>
					<p class="posi"> @(i + 1)º</p>
					<p class="nombre"> @filtrados[0][i].Nombre</p>
					<p class="descripcion"> @filtrados[0][i].Descripcion</p>
				</div>
			</button>
		}
	}
	else
	{
		<p id="alerta">Elige caracteristica y roll para comparar<br><br><button @onclick="QuitarAlerta" class="aceptaAlerta">Aceptar</button></p>
		botonPulsado = false;
	}
}
else
{
	<p class="sinGrafico">NO HAY RANKING ELEGIDO</p>
}




