@page "/campeon/{parametro}"
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@if (campeon != null)
{
	<h1>@campeon.Nombre</h1>
	<h2>@campeon.Apodo</h2>

	<div class="gridContainer">

		<img class="imagenPrincipal" src="@campeon.ImagenSkin[0]">

		
			<div class="imagenRolDificultad">
				<p class="roll"><span class="whiteText">ROLL:</span><br>@campeon.Rol</p>
				<p class="dificultad"><span class="whiteText">DIFICULTAD:</span><br>@campeon.Dificultad</p>
				<p class="descripcion">@campeon.Descripcion</p>
			</div>
		

		<div class="habilidades">

			<div class="iconosHabilidades">
				@for (int i = 0; i < campeon.ImagenHabilidad.Count; i++)
				{
					int numero = i;
					<button class="botonImagenHabilidad" @onclick="() => DameNum(numero)"><img class="imagenHabilidad" src="@campeon.ImagenHabilidad[i]"></button>

				}

			</div>

			<div class="infoHabilidades">
				<p class="nombreHabilidad">@campeon.NombreHabilidad[habilidad]</p>
				<p class="tipoHabilidad">@campeon.TipoHabilidad[habilidad]</p>
				<p>@campeon.DescripcionHabilidad[habilidad]</p>
			</div>


		</div>


		<video class="video" autoplay muted=true @onended="VideoBucle">
			<source  class="srcVideo" src="@campeon.VideoHabilidad[habilidad]">
		</video>


	</div>


	<div class="skinGridContainer">
		@for (int i = 0; i < campeon.IconoSkin.Count; i++)
		{
			int numerito = i;
			<button class="botonesIconosSkins" @onclick="() => DameNumSkin(numerito)"><img class="iconosSkins" src="@campeon.IconoSkin[i]"></button>
		}
	</div>

	<h1>@campeon.NombreSkin[skin]</h1>
	<img class="imagenSkin" src="@campeon.ImagenSkin[skin]">
}
else
{
	<div id="app">
		<svg class="loading-progress">
			<circle r="40%" cx="50%" cy="50%" />
			<circle r="40%" cx="50%" cy="50%" />
		</svg>
	</div>
}

@code {
	[Parameter]
	public string parametro { get; set; }
	private List<Estadisticas> campeonesStats;
	private List<Campeones> campeonesInfo;
	private List<Union> campeones = new List<Union>();
	private Union campeon;
	private IJSObjectReference jsModule;
	private int habilidad = 0;
	private int skin = 0;

	protected override async Task OnInitializedAsync()
	{
		campeonesStats = await Http.GetFromJsonAsync<List<Estadisticas>>("apis/estadisticas.json");

		campeonesInfo = await Http.GetFromJsonAsync<List<Campeones>>("apis/campeones.json");

		foreach (var item in campeonesInfo)
		{
			foreach (var item2 in campeonesStats)
			{
				if (item.Nombre == item2.Nombre.TrimStart(' ').ToUpper())
				{
					campeones.Add(new Union(item, item2));
				}
			}
		}
		campeon = campeones.First(x => x.Nombre == parametro);


	}

	private void DameNum(int i)
	{
		habilidad = i;

	}
	private void DameNumSkin(int i)
	{
		skin = i;
	}
	private async Task VideoBucle()
	{
		jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Campeon.js");
		await jsModule.InvokeVoidAsync("playVideoBucle");
	}
}
