@page "/consultor"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<PageTitle>Consultor</PageTitle>
@if (campeones.Count > 0)
{
	<div class="contenedorSelects">
		<p class="titulo1">Primer campeon:</p>
		<p class="titulo2">Segundo campeon:</p>
		<select id="selector1" @bind="nombre1">
			@foreach (var campeon in campeones)
			{
				<option>@campeon.Nombre</option>
			}
		</select>

		<select id="selector2" @bind="nombre2">
			@foreach (var campeon in campeones)
			{
				<option>@campeon.Nombre</option>
			}
		</select>
	</div>
	<button id="boton" @onclick="AnalizarDatos">
		<img class="vsImagen" src="/Recursos/imagenes/vs.png" />
	</button>

	@if (vs)
	{
		if (nombre1 != "" && nombre2 != "" && botonPulsado)
		{
			<div class="contenedorImagenesYNombres">
				<img class="imagenesConsultor" src="@campeon1.ImagenSkin[0]" />
				<img class="imagenesConsultor" src="@campeon2.ImagenSkin[0]" />
				<p class="nombresConsultor">
					@campeon1.Nombre
				</p>
				<p class="nombresConsultor">
					@campeon2.Nombre
				</p>
			</div>
			<div class="contenedorDatos">
				<div class="datosCampeon">
					<p class="dato" @ref="vida1">@campeon1.Vida</p>
					<p class="dato" @ref="mana1">@campeon1.Mana</p>
					<p class="dato" @ref="dano1">@campeon1.Dano</p>
					<p class="dato" @ref="armadura1">@campeon1.Armadura</p>
					<p class="dato" @ref="resistenciaMagica1">@campeon1.ResistenciaMagica</p>
					<p class="dato" @ref="alcance1">@campeon1.Alcance</p>
					<p class="dato" @ref="velocidad1">@campeon1.Velocidad</p>
					<p class="dato" @ref="velocidadDeAtaque1">@campeon1.VelocidadDeAtaque</p>
				</div>
				<div class="estadisticas">
					<p class="stat">Vida</p>
					<p class="stat">Mana</p>
					<p class="stat">Daño</p>
					<p class="stat">Armadura</p>
					<p class="stat">Resistencia Mágica</p>
					<p class="stat">Alcance</p>
					<p class="stat">Velocidad</p>
					<p class="stat">Velocidad de Ataque</p>
				</div>
				<div class="datosCampeon">
					<p class="dato" @ref="vida2">@campeon2.Vida</p>
					<p class="dato" @ref="mana2">@campeon2.Mana</p>
					<p class="dato" @ref="dano2">@campeon2.Dano</p>
					<p class="dato" @ref="armadura2">@campeon2.Armadura</p>
					<p class="dato" @ref="resistenciaMagica2">@campeon2.ResistenciaMagica</p>
					<p class="dato" @ref="alcance2">@campeon2.Alcance</p>
					<p class="dato" @ref="velocidad2">@campeon2.Velocidad</p>
					<p class="dato" @ref="velocidadDeAtaque2">@campeon2.VelocidadDeAtaque</p>
				</div>
			</div>
			@if (ganador != null)
			{
				<div class="contenedorGanador">
					<p class="ganadorTexto">El ganador es :</p>
					<p class="nombresConsultor">
						@ganador.Nombre
					</p>
					<button @onclick="Redirigir" class="botonImagenGanador"><img class="imagenesGanador" src="@ganador.ImagenSkin[0]" /></button>

				</div>
			}
			else
			{
				<div class="tonto">
					Estas comparando el mismo campeón... Y el ganador ERES TU
					<img src="./Recursos/imagenes/medalla.png" class="imagenTonto" />
				</div>
			}
		}
		else
		{
			<p id="alerta">Elige dos personajes para comparar<br><br><button @onclick="QuitarAlerta" class="aceptaAlerta">Aceptar</button></p>
			botonPulsado = false;

		}
	}
	else
	{
		<h1 class="sinBusqueda">Selecciona un campeón y empieza la CONSUUULTA</h1>
	}

}
else
{
	<div id="app">
		<svg class="loading-progress">
			<circle r="40%" cx="50%" cy="50%" />
			<circle r="40%" cx="50%" cy="50%" />
		</svg>
	</div>
}



