@page "/campeones"
@inject HttpClient Http


@if (orden)
{
	<input id="desciende" type="checkbox" @bind="orden" />
	<label for="desciende"><img class="orden" src="/Recursos/imagenes/asciende.png" /></label>
}
else
{
	<input id="asciende" type="checkbox" @bind="orden" />
	<label for="asciende"><img class="orden" src="/Recursos/imagenes/desciende.png" /></label>
}


<div class="container">

	@if (campeones == null)
	{
		<p>Loading...</p>
	}
	else
	{
		@if (orden)
		{
			@foreach (var campeon in campeonesPaginadosAlreves)
			{
				<button class="item">
					<img class="img" src="@campeon.ImagenPrincipal">
					<p>@campeon.Nombre</p>
				</button>
			}
		}
		else
		{
			@foreach (var campeon in campeonesPaginados)
			{
				<button class="item">
					<img class="img" src="@campeon.ImagenPrincipal">
					<p>@campeon.Nombre</p>
				</button>
			}
		}

	}

</div>

<div class="paginado">
	<button class="botonPaginado" @onclick="IrPaginaAnterior">Anterior</button>
	<p class="botonPaginado">@numeroPagina</p>
	<button class="botonPaginado" @onclick="IrPaginaSiguiente">Siguiente</button>
</div>

@code {
	List<Campeones> campeonesPaginados = new List<Campeones>();
	List<Campeones> campeonesPaginadosAlreves = new List<Campeones>();
	int numeroPagina = 1;
	int elementosPorPagina = 50;


	private bool orden;
	private List<Campeones> campeonesAlreves = new List<Campeones>();
	private List<Campeones> campeones;

	private string terminoBusqueda = "";
	List<Campeones> resultadosBusqueda;

	void Buscar()
	{
		resultadosBusqueda = campeones.Where(campeon => campeon.Nombre.Contains(terminoBusqueda)).ToList();
	}

	protected override async Task OnInitializedAsync()
	{
		campeones = await Http.GetFromJsonAsync<List<Campeones>>("apis/campeones.json");

		await PaginarCampeones();
		await CrearListaAlreves();
		await PaginarCampeonesAlreves();
	}

	private Task CrearListaAlreves()
	{
		for (int i = campeones.Count - 1; i >= 0; i--)
		{
			campeonesAlreves.Add(campeones[i]);
		}

		return Task.CompletedTask;
	}
	private Task PaginarCampeones()
	{
		campeonesPaginados = campeones.Skip((numeroPagina - 1) * elementosPorPagina).Take(elementosPorPagina).ToList();
		return Task.CompletedTask;
	}
	private Task PaginarCampeonesAlreves()
	{
		campeonesPaginadosAlreves = campeonesAlreves.Skip((numeroPagina - 1) * elementosPorPagina).Take(elementosPorPagina).ToList();
		return Task.CompletedTask;
	}

	private void IrPaginaAnterior()
	{
		if (numeroPagina != 1)
		{
			numeroPagina--;
			PaginarCampeones();
			PaginarCampeonesAlreves();
		}
	}

	private void IrPaginaSiguiente()
	{
		if (numeroPagina != 4)
		{
			numeroPagina++;
			PaginarCampeones();
			PaginarCampeonesAlreves();

		}
	}

}
