@page "/campeones"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<PageTitle>Campeones</PageTitle>

@if (campeones == null)
{
	<div id="app">
		<svg class="loading-progress">
			<circle r="40%" cx="50%" cy="50%" />
			<circle r="40%" cx="50%" cy="50%" />
		</svg>
	</div>
}
else
{
	<form id="buscador" action="">
		<input class="buscador" type="search" name="nombre" placeholder="Busca tu campeon" @bind="@terminoBusqueda" @oninput="Buscar">
	</form>

	@if (!terminoBusquedaBool)
	{
		<button id="bajarPagina" @onclick="GoDown">Bajar</button>
		@if (orden)
		{
			<input id="desciende" type="checkbox" @bind="orden" />
			<label for="desciende"><img class="orden" src="/Recursos/imagenes/asciende.png" @onclick="resetPagina" /></label>
		}
		else
		{
			<input id="asciende" type="checkbox" @bind="orden" />
			<label for="asciende"><img class="orden" src="/Recursos/imagenes/desciende.png" @onclick="resetPagina" /></label>
		}
	}

	

	<div class="container">


		@if (resultadosBusqueda.Count > 0 && terminoBusqueda != "" || terminoBusquedaBool)
		{
			@foreach (var campeon in resultadosBusqueda)
			{
				<button class="item" @onclick=" ()=> NavegaACampeon(campeon.Nombre)">
					<img class="img" src="@campeon.ImagenPrincipal">
					<p>@campeon.Nombre</p>
				</button>
			}
		}
		else
		{
			@if (orden)
			{
				@foreach (var campeon in campeonesPaginadosAlreves)
				{
					<button class="item" @onclick=" ()=> NavegaACampeon(campeon.Nombre)">
						<img class="img" src="@campeon.ImagenPrincipal">
						<p>@campeon.Nombre</p>
					</button>
				}
			}
			else
			{
				@foreach (var campeon in campeonesPaginados)
				{
					<button class="item" @onclick=" ()=> NavegaACampeon(campeon.Nombre)">
						<img class="img" src="@campeon.ImagenPrincipal">
						<p>@campeon.Nombre</p>
					</button>
				}
			}
		}

	</div>
	@if (!terminoBusquedaBool)
	{
		<div class="paginado">
			<button class="botonPaginado" @onclick="IrPaginaAnterior"><img class="flechitas" src="./Recursos/imagenes/flechaIzq.png"/></button>
			<p class="botonPaginado">@numeroPagina</p>
			<button class="botonPaginado" @onclick="IrPaginaSiguiente"><img class="flechitas" src="./Recursos/imagenes/flechaDerecha.png" /></button>
		</div>
	}
}


